.card {
  display: inline-block;
  position: relative;
  background-color: #332753;
  width: 45%;
  min-height: 24%;
  border: 5px solid #357eb1;
  margin: 10px 2%;
  &__image {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    &-el {
      width: 100%;
      margin: 5px;
    }
  }
  &__info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(55, 44, 66, 0.673);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-name {
      color: #fff;
      margin-right: 10px;
    }
    &-role {
      $yOffset: -172px;
      margin-right: 10px;
      width: 60px;
      height: 60px;
      background-repeat: no-repeat;
      background-position: -4px -4px;
      &-tank {
        background-position: -4px #{$yOffset};
      }
      &-bruiser {
        background-position: -74px #{$yOffset};
      }
      &-healer {
        background-position: -140px #{$yOffset};
      }
      &-support {
        background-position: -222px #{$yOffset};
      }
      &-melee-assassin {
        background-position: -300px #{$yOffset};
      }
      &-ranged-assassin {
        background-position: -380px #{$yOffset};
      }
    }
  }
}
